.env
.env.local
.env.*
!.env.example
node_modules
playwright-report/
test-results/
.support-server-port
dist/
.artifacts/
*.log
page.png
pnpm.zip
vite.config.ts.timestamp-*.mjs
.idea/
bundle-analysis.html
pwlog.txt
server.out
